# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

original
merged
.image
.mounted
*.img
[rb]ootfs
my_work/part_1/fixup*.dat
my_work/part_1/start*.elf
firmware-stable.zip
my_work/part_2/etc/systemd/system/fleetsie-provision.service
my_work/part_2/etc/systemd/system/multi-user.target.wants/fleetsie-provision.service
my_work/part_2/opt/fleetsie/fleetsie_provision
my_work/part_2/opt/fleetsie/ssh_config
my_work/part_2/opt/fleetsie/sshd_config
my_work/part_2/opt/fleetsie/custom_pre/readme.txt
my_work/part_2/opt/fleetsie/custom_pre/packages/readme.txt
zabbix-release*deb
2025-05-13-raspios-bookworm-arm64-lite_fleetsie.img.xz
ampi_files_for_usb_disk.zip
my_work/.#README.md
my_work/part_2/opt/fleetsie/custom_pre/cleanup
my_work/part_2/opt/fleetsie/custom_pre/packages/libttspico-data_1.0+git20130326-13_all.deb
my_work/part_2/opt/fleetsie/custom_pre/packages/libttspico-utils_1.0+git20130326-13_arm64.deb
my_work/part_2/opt/fleetsie/custom_pre/packages/libttspico0_1.0+git20130326-13_arm64.deb
my_work/part_2/opt/fleetsie/ssh-tunnel.service
my_work/part_2/opt/fleetsie/ssh_tunnel
my_work/part_2/opt/fleetsie/zabbix_agent2.conf
my_work/part_2/opt/fleetsie/zabbix_sender.conf
.#*

# Node artifact files
node_modules/
dist/

image/

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# Maven
target/
dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
