[Unit]
Description=audio capture and upload

[Service]
User=1000
Group=1000
KillSignal=SIGINT
# set the working directory
WorkingDirectory=/opt/ampi
ExecStart=/opt/ampi/ampi_capture.sh %i
Restart=always
RestartSec=10
## setup and takedown scripts are run as root (+), and exit code is ignored(-):
ExecStartPre=+-/opt/ampi/exec_start_pre_ampi_capture.sh
ExecStopPost=+-/opt/ampi/exec_stop_post_ampi_capture.sh
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=multi-user.target
