[Unit]
Description=automatic bluetooth pairing
PartOf=bluetooth.target
After=bluetooth.service
[Service]
SyslogIdentifier=bluetooth-autopair
# set the working directory
WorkingDirectory=/opt/ampi
ExecStartPre=/usr/bin/sdptool add SP
ExecStart=/opt/ampi/bluetooth_autopair
[Install]
WantedBy=bluetooth.target
